@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
/*======REST======*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  aspect-ratio: 1/1;
  display: block;
  object-fit: cover;
  object-position: center;
  height: 100%;
}

/*======VARIABLES=======*/
/*---COLOR---*/
/*=====DEFAULT======*/
body {
  background-color: #e9e2e2;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  transition: all 0.3s linear;
}

/*======CONTAINE=======*/
.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 2rem;
}

/*======HEADER=======*/
header {
  display: flex;
  width: 100%;
  background-color: #9821e8;
  height: 5rem;
  margin-bottom: 1.25rem;
  padding: 0 1.25rem;
  align-items: center;
  justify-content: space-between;
  /*------CART------*/
  /*-----total-----*/
}
header .cart {
  position: fixed;
  top: 0;
  right: 0;
  right: -100%;
  width: 360px;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
  padding: 1.25rem;
  background-color: #e9e2e2;
  border: 0.2rem solid #9821e8;
  box-shadow: -0.2rem solid 0.4rem #0b68ea;
  transition: 1.5s;
}
header .cart.active {
  right: 0;
  transition: 0.5s ease;
}
header .cart .cart-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
}
header .cart .cart-box {
  display: grid;
  grid-template-columns: 32% 50% 18%;
  align-items: center;
  margin-top: 1rem;
  padding: 1rem;
  border: 0.1rem solid #ccc;
  grid-gap: 1rem;
}
header .cart .cart-img {
  width: 100px;
  height: 100px;
  padding: 0.625rem;
  border-radius: 0.3rem;
  border: 0.2rem solid #9821e8;
}
header .cart .info {
  display: grid;
  row-gap: 0.5rem;
}
header .cart .info .cart-product-title {
  font-size: 1.1rem;
  text-transform: capitalize;
}
header .cart .info .cart-price {
  font-weight: 600;
}
header .cart .info .cart-quantity {
  border: 0.1rem solid #9821e8;
  outline: #0b68ea;
  width: 2.4rem;
  text-align: center;
  font-size: 1.1rem;
}
header .cart .cart-delete {
  font-size: 2rem;
  color: #f36c6c;
  cursor: pointer;
}
header .cart-icon {
  font-size: 2.5rem;
  color: white;
  cursor: pointer;
}
header .total-content {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
  border-top: 0.1rem solid #9821e8;
}
header .total-content .total-title {
  font-size: 1.1rem;
  font-weight: 600;
}
header .total-content .total-price {
  font-size: 1.1rem;
  font-weight: normal;
  margin-left: 0.5rem;
}
header .btn-buy {
  display: flex;
  margin: 1.5rem auto 0 auto;
  padding: 0.625rem 1.25rem;
  background-color: #9821e8;
  color: white;
  font-size: 1.1rem;
  font-weight: 500;
  border-radius: 5rem;
  letter-spacing: 0.1rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
header .btn-buy:hover {
  letter-spacing: 0.3rem;
  background-color: #0b68ea;
}
header .cart-close {
  position: absolute;
  top: 1rem;
  right: 0.8rem;
  font-size: 2rem;
  font-weight: bolder;
  color: black;
  cursor: pointer;
}

/*-----MAIN-------*/
main h1 {
  text-align: center;
  font-size: 2.5rem;
  text-transform: capitalize;
  margin-bottom: 2rem;
  position: relative;
}
main h1::after {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 0.3rem;
  top: 95%;
  left: 50%;
  height: 0.2rem;
  width: 12rem;
  background-color: #0b68ea;
}

/*-----SECTION-------*/
section {
  display: flex;
  margin-bottom: 4.25rem;
}
section .card-container {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  grid-gap: 1rem;
  border-radius: 0.3rem;
}
section .card-container .pic {
  height: 17rem;
  width: 17rem;
}
section .card-container .body-img {
  position: relative;
  border-radius: 0.3rem;
  border: 0.2rem solid #9821e8;
}
section .card-container .category-title {
  position: absolute;
  top: 1.25rem;
  left: 1.25rem;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.5rem 0.625rem;
  color: white;
  border-radius: 0.3rem;
}
section .bag .category-title {
  background-color: #9821e873;
}
section .tech .category-title {
  background-color: #835f5f8c;
}
section .shoes .category-title {
  background-color: #69aeb38c;
}
section .card {
  padding: 1.25rem;
  border-radius: 0.5rem;
  background-color: #faf8f8;
  transition: all 0.3 ease-in-out;
}
section .card:hover {
  background: #9821e873;
}
section .content {
  padding: 1.25rem;
}
section .content h2 {
  font-weight: 400;
  font-size: 1.5rem;
  padding: 0.625rem;
}
section .content p {
  opacity: 0.5;
  font-size: 1.1rem;
  line-height: 1.8;
}
section .content .content-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #9821e8;
  padding: 0.5rem;
  color: white;
  border-radius: 2rem;
}
section .content .add-cart {
  position: relative;
  bottom: 0;
  right: 0;
  font-size: 2rem;
  background-color: #9821e8;
  border-radius: 0.5rem;
  color: white;
  padding: 0.625rem;
  cursor: pointer;
}
section .content div {
  display: flex;
  justify-content: space-between;
}
section .btn {
  display: block;
  font-size: 1.2rem;
  margin: 0.5rem auto;
  padding: 0.625rem 1.25rem;
  background-color: #9821e8;
  border-radius: 0.3rem;
  color: white;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
section .btn:hover {
  background-color: #0b68ea;
}

/*------ASIDE------*/
aside {
  width: 20%;
  background-color: #e0d8d8;
  border-radius: 0.3rem;
  margin-left: 1rem;
  text-align: center;
}
aside .filter-btn {
  background-color: skyblue;
  padding: 0.625rem;
  margin: 0.5rem;
  cursor: pointer;
  transition: all 0.5s ease;
}
aside .filter-btn:hover {
  opacity: 0.6;
  color: white;
}
aside .active {
  background-color: #d330308c;
}
aside .card-img {
  width: 200px;
}

/*------MEDIA QUERY------*/
@media (max-width: 968px) {
  /*---WRAPPER--*/
  section {
    flex-wrap: wrap;
  }
  section .card-container {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
  section aside {
    width: 100%;
    margin-top: 1rem;
  }
}
@media (max-width: 768px) {
  /*---WRAPPER--*/
  section {
    flex-wrap: wrap;
  }
  section .card-container {
    width: 100%;
    grid-template-columns: 1fr;
  }
  section aside {
    width: 100%;
    margin-left: 0;
  }
}

/*# sourceMappingURL=styles.css.map */
